asgiref==3.7.2
backcall==0.2.0
Django==4.2.4
executing==1.2.0
numpy==1.25.1
packaging==23.1
pickleshare==0.7.5
Pillow==10.0.0
psycopg2==2.9.6
pure-eval==0.2.2
pyparsing==3.0.9
pywin32==306
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
wcwidth==0.2.6
webencodings==0.5.1
whitenoise==6.5.0
widgetsnbextension==4.0.8
